/* INI STYLE CSS */
main {
    display: flex;
    justify-content: space-around;
}

input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {   
    border: 0;
    background-color: #98daf5;
    padding: 8px;
    border-radius: 4px;
}

.color-section {
    background-color: #eef0f1;
    padding: 12px;
}

.text-center {
    text-align: center;
}

#result {
    font-size: 30px;
    font-weight: bold;
}

footer {
    text-align: center;
}