/* INI STYLE CSS */
main {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    background-color: #f4f4f4;
}

input[type=number]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: inline;
    margin-top: 4px;
    cursor: pointer;
    font-weight: bold;
}


button {   
    border: 0;
    background-color: #007bff;
    color: white;
    padding: 8px;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: 790;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
}

.container {
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 88%;
    background-color: #e4eaed;
    padding: 12px;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

#container {
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 88%;
    background-color: #e4eaed;
    padding: 12px;
    margin-bottom: 20px;
}

#resultText {
    font-size: 18px;
    font-weight: 500;
}

#resultNumber {
    font-size: 30px;
    font-weight: bold;
}

#resultDetails {
    font-size: 14px;
    font-weight: 500;
}

.links {
    margin-top: 20px;
    text-align: center;
}

.links a {
    text-decoration: none;
    color: #007bff;
}

.links a:hover {
    color: #0069d9;
}

footer {
    text-align: center;
}